@import url('https://fonts.googleapis.com/css?family=Bernard+MT+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

body {
    font-size: 19px;
    font-family: 'Baloo 2';
}

.restaurantNameRowLabel label{
    color: rgb(100, 50, 100);
}
.restaurantPage1 {
    color: rgb(100, 50, 250);
    font-size: 20px;
}
