body {
  background-color: white;
}

label {
  display: inline-block;
  width: 100px;
  text-align: left;
}


img {
  width: 40%;
}

#navbarMain {
  padding-left: 5%;
  padding-right: 10%;
}

#updateAccountForm {
  margin-left: 0%;
}

li:hover {
  background-color: white;
}

h1, h2 {text-align: center;}
