  body {
        background-color: white;
      }

      label {
        display: inline-block;
        width: 100px;
        text-align: left;
    }


    img {width: 40%;}

    #navbarMain { padding-left:5%;
    padding-right:10%;}

    #updateAccountForm {margin-left:0%;}

    li:hover {background-color:white;}

    #homePageImg{width:100%;}

    #homePageImagesPanel {border: 1px solid white;
      margin:5%;
   }

    .homePagePanelImg, .homePageVideoPlaceholder, .homePageMapPlaceholder
    {width:100%; }
  
    #homePageVideoPanel {background-color:  #f0f3f4;
      border: 1px solid white;
   }

   #homePageVideo, #homePageMap {
    border: 1px solid black;
    margin: 5%;}

   #homePageLinkToFestival {background-color:white;}
   .homePageInfoImg {width:20%;}
