<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dance!!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/css/festival/Dance/IndexPage.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/22097c36aa.js" crossorigin="anonymous"></script>
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<h1>Spotify Web Playback SDK Quick Start</h1>

<?php
			echo '<div class="track">';
echo '<p>' . $track->name . '</p>';
echo '<p>' . $track->artists[0]->name . '</p>';
echo'<p>'.$track->uri.'</p>';
echo '</div>';

?>

<iframe src="https://open.spotify.com/embed/track/3hTCwsmREYjp47bcuciidB" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media" ></iframe>
<div class="container">
    <div class="row">
        <div class="col-md-6">
<!--            <audio id="myAudio" loop >-->
<!--                <source src="<?php echo $track->preview_url; ?>" type="audio/mpeg">-->
<!--                Your browser does not support the audio element.-->
<!--            </audio>-->
            <button id="playPauseButton" onclick="togglePlayPause('<?php echo $track->preview_url; ?>')" id="playPauseButton">Play</button>
        </div>
    </div>
</div>


<script>
    let audio = null;
    let isPlaying = false;

    function togglePlayPause(url) {
        if (!audio) {
            audio = new Audio(url);
        }

        if (isPlaying) {
            audio.pause();
            isPlaying = false;
            document.getElementById("playPauseButton").innerHTML = '<i class="fa-solid fa-play fa-2xl"></i>';
        } else {
            audio.play();
            isPlaying = true;
            document.getElementById("playPauseButton").innerHTML = '<i class="fa-solid fa-pause fa-2xl"></i>';
        }
    }

</script>



</body>
</html>